/** @format */

ul li {
	list-style: none;
}
.app {
	width: 100%;
	text-align: center;
	font-size: 20px;
}
li {
	padding: 10px;
}
button {
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
}
form {
	padding-bottom: 30px;
}
input {
	padding: 10px;
}
.addMember {
	margin-bottom: 30px;
}
.timKiem {
	padding: 15px;
}
ul li{
	list-style: none;
}
span{
	color: red;
}